* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #00c2ae, #008cea);
    overflow: hidden;
}

li {
    list-style-type: none;
}

#box {
    position: relative;
    width: 60vw;
    height: 30vw;
    margin: 0 auto;
    margin-left: 20%;
    text-align: center;
    background: #ffffff;
    border:1px solid;
    display: flex;
    flex-direction: column;
}

.tab {
    position: relative;
    width: auto;
}

.tab .tab_list {
    height: 3.2vw;
    width: auto;
    border: 0 solid #ccc;
    background-color: #4f4f4f;
}

.tab .tab_list li {
    float: left;
    height: 3vw;
    width: 8vw;
    line-height:3vw;
    padding: 0 1vw;
    text-align: center;
    cursor: pointer;
    border-radius: 0.3vw ;
    background-color: #4f4f4f;
    color: #ffffff;
    font-size: 2vw;
}

.tab_list .current {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
}

.item {
    display: none;
}

.tab_con {
    position: relative;
    margin-left: 2vw;
    margin-top: 2vw;
    text-align: left;
}

.tab_con .item h2 {
    font-size: 2vw;
    padding: 0.2vw 0;
}

.tab_con .item a {
    color: #b852ff;
}

.tab_con .item a:hover {
    color: #499eff;
}

.tab_con .item p {
    font-size: 1vw;
    padding: 0.1vw 0;
}

#btn1 {
    border: 0.1vw solid #000000;
    border-radius: 5vw;
    color: #000000;
    font-size: 1vw;
    margin: 4vw 0vw 1vw 22vw;
    width: 15vw;
    height: 2vw;
}

#btn1:hover {
    cursor: pointer;
    color: #0080ff;
}

#btn2 {
    border: 0.1vw solid #000000;
    border-radius: 5vw;
    color: #000000;
    font-size: 1vw;
    margin: 1vw 0vw 1vw 22vw;
    width: 15vw;
    height: 2vw;
}

#btn2:hover {
    cursor: pointer;
    color: #0080ff;
}

.tab_con .item .btn0 {
    position: absolute;
    height: auto;
    margin-top: 4vw;
    margin-left: 35%;
}

#btn3 {
    border: 0.1vw solid #000000;
    border-radius: 5vw;
    color: #000000;
    font-size: 1vw;
    margin: 4vw 0 1vw 0;
    width: 15vw;
    height: 2vw;
}

#btn3:hover {
    cursor: pointer;
    color: #0080ff;
}

#btn4 {
    border: 0.1vw solid #000000;
    border-radius: 5vw;
    color: #000000;
    font-size: 1vw;
    margin: 2vw 0 1vw 0;
    width: 15vw;
    height: 2vw;
}

#btn4:hover {
    cursor: pointer;
    color: #0080ff;
}

.tab_con .item .tip {
    margin: 1vw 0vw 1vw 22vw;
    font-size: 1.5vw;
    color: #ff0000;
}

.ul li {
    position: absolute;
    border: 1px solid #aa27ff;
    width: 25px;
    height: 25px;
    list-style: none;
    opacity: 0;
}

.square li {
    top: 40vh;
    left: 90vw;
    animation: square 10s linear infinite;
}

.square li:nth-child(2) {
    top: 20vh;
    left: 10vw;
    animation-delay: 1s;
}

.square li:nth-child(3) {
    top: 60vh;
    left: 5vw;
    animation-delay: 2s;
}

.square li:nth-child(4) {
    top: 90vh;
    left: 90vw;
    animation-delay: 3s;
}

.square li:nth-child(5) {
    top: 10vh;
    left: 85vw;
    animation-delay: 5s;
}

.square li:nth-child(6) {
    top: 85vh;
    left: 45vw;
    animation-delay: 4s;
}

.square li:nth-child(7) {
    top: 1vh;
    left: 40vw;
    animation-delay: 6s;
}

@keyframes square {
    0%{
        transform: scale(0) rotateY(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(4) rotatey(1200deg);
        opacity: 0;
    }
}